{{ form_start(form) }}
<meta name="csrf-token" content="{{ csrf_token('app_noms_create') }}">
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
